.login-container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT */
.login-left {
  width: 45%;
  background: #eef3ea;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand h3 {
  margin-top: 10px;
  font-weight: 600;
}

.brand p {
  color: #666;
  margin-top: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  background: #dce7d3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.art-box {
  margin-top: 40px;
  width: 100%;
  height: 220px;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    #b7d3c6,
    #f6c7a8,
    #f3e3a3
  );
}

/* RIGHT */
.login-right {
  width: 55%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-weight: 700;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot {
  font-size: 13px;
  color: #7a9c6e;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  background: #7a9c6e;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.login-btn:hover {
  background: #68885d;
}

.divider {
  text-align: center;
  margin: 25px 0;
  font-size: 12px;
  color: #aaa;
}

.social {
  display: flex;
  gap: 15px;
}

.social button {
  flex: 1;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
}

.signup span {
  color: #7a9c6e;
  cursor: pointer;
  font-weight: 600;
}
